.f-container {
    justify-content: space-between;
    padding-left: 10rem; /* Add left padding */
    padding-right: 10rem; /* Add right padding */
}

.f-left {
    gap: 1rem;
}

.f-menu {
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}
